@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
}

*::selection { color: white; background-color: #6b6b00; }

body {
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    width: 100%;
    margin: 0 30px;
    background-color: #181818;
    gap: 30px;
    padding: 50px 0 30px 0;
    border-radius: 12px;
}

.form-title {
    width: 80%;
}

.form-title h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.form-title p {
    max-width: 400px;
    text-align: center;
    color: #e0e0e0;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

form .div-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div-input input {
    padding: 10px 5px;
    font-size: 0.9rem;
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #cece00;
    outline: none;
    color: #fff;
    background-color: #0e0e0e;
    transition: .3s ease-in-out;
}

.div-input input:focus {
    transform: scale(1.02);
    border-radius: 8px;
    border: 1px solid #cece00;
    box-shadow: rgba(175, 166, 41, 0.24) 0px 3px 8px;
}

form input[type="submit"] {
    padding: 10px 15px;
    background-color: #cece00;
    color: #1b1b1b;
    font-size: 1rem;
    border-radius: 12px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #a5a500;
    color: #000;
    transform: scale(1.02);
    box-shadow: rgba(175, 166, 41, 0.24) 0px 3px 8px;   
}